.action-btn {
    cursor: pointer;
}

.no-account {
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    color: brown;
}