.registration-card {
    max-width: 400px;
    margin: 50px auto auto auto;
    border-radius: 5px;
    //box-shadow: 10px 10px 44px 0px rgba(0, 0, 0, 0.75);
 }

 .dialog-title-hr {
    width: 91%;
}

.card-full-width {
    width: 100%;

    tr {
        height: 35px;
    }
}

.card-title {
    font-family: 'Passion One', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
  
mat-card-actions {
    margin: 0 auto;
    padding: 0;

    button {
        font-size: 12px;
        font-weight: bold;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        text-transform: uppercase;
    }
}

mat-card-content {
    margin-top: 15px;

    mat-label {
        font-size: 12px;
     }
}

.account-added-success-icon {
    font-size: 100px;
    color: green;
    margin: 0 38%;
}

.account-added-failed-icon {
    font-size: 100px;
    color: rgb(180, 10, 10);
    margin: 0 38%;
}

.formsubmitted-success-card {
    margin: 85px 15px;
    font-family: 'Passion One', cursive;
    font-size: 20px;
    text-align: center;
    color: forestgreen;
    font-weight: 300;
    min-height: 250px;
}

.formsubmitted-failed-card {
    margin: 85px 15px;
    font-family: 'Passion One', cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(180, 10, 10);
    font-weight: 300;
    min-height: 250px;
}
 