 .login-card {
    max-width: 200px;
    border-radius: 5px;
    display: contents;
 }

.card-title {
    font-family: 'Passion One', cursive;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}
  
mat-card-actions {
    margin: 0 auto;
    padding: 0;

    button {
        font-size: 12px;
        font-weight: bold;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        text-transform: uppercase;
    }
}

.no-account {
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    margin-left: 34px;
    color: brown;
}

.acc-submit-btn {
    height: 55px;;
}

mat-card-content {
    margin-top: 15px;

    mat-label {
       font-size: 12px;
    }
}

.mat-raised-button{
    border-radius: 0px;
    font-size: 12px;
    font-weight: bold;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-transform: uppercase;
}

.forget-pwd-btn {
    margin-left: 15px;
}

.action-btn {
    cursor: pointer;
}
 